In [1]:
import requests
import json
import pandas as pd

In [2]:
url = "http://siannet.gestaosian.com/api/WSLogin"

payload = {}
headers = {
  'Authorization': 'Basic Z2RzOkdEU0BTSUFOTkVU'
}

response = requests.request("POST", url, headers=headers, data=payload)

data = response.json()
token = data['token']
print(token)

d213ceefe280e95dfb9c72056597c546b6f18f93b92aedcb53bead1a07bc2243

In [3]:
url_request = "http://siannet.gestaosian.com/api/TrajetoOciosoLinha?empresa=2"

payload = {}
headers = {
  'Authorization': f'Bearer {token}'
}

response = requests.request("GET", url_request, headers=headers, data=payload)
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
else:
    print("Erro na requisição:", response.status_code)

In [4]:
import hashlib


def generate_hash(*args):
    """
    Gera um hash SHA-256 a partir dos valores fornecidos.
    """
    hash_input = "".join(args)
    return hashlib.sha256(hash_input.encode('utf-8')).hexdigest()

In [5]:
dados_linhas = []

In [6]:
for k, v in df['dados'].items():
    num_linha = v['linha']['numLinha']
    descricao = v['linha']['descricao']
    trajeto_ida = v['trajeto']['ida']['PONTOS_TRAJETO']
    trajeto_volta = v['trajeto']['volta']['PONTOS_TRAJETO']
    dados_linhas.append({'numLinha': num_linha, 'descricao': descricao,'trajeto_ida': trajeto_ida,'trajeto_volta': trajeto_volta})

In [7]:
df_2 = pd.DataFrame(dados_linhas)

In [8]:
df_2

,numLinha,descricao,trajeto_ida,trajeto_volta
0,002A,PARQUE ATHENEU / T ISIDORIA / PAULO GARCIA,"[{'lat': -16.76353, 'lng': -49.27021}, {'lat':...","[{'lat': -16.74154, 'lng': -49.19146}, {'lat':..."
1,002B,PARQUE ATHENEU / T. ISIDORIA,"[{'lat': -16.76353, 'lng': -49.27021}, {'lat':...","[{'lat': -16.74154, 'lng': -49.19146}, {'lat':..."
2,002C,PC TRINDADE / T ISIDORIA / PRACA CIVICA,"[{'lat': -16.76353, 'lng': -49.27021}, {'lat':...","[{'lat': -16.74761406304063, 'lng': -49.205439..."
3,002D,PQ. ATHENEU / T ISIDORIA / PAULO GARCIA (F.HIP...,"[{'lat': -16.76353, 'lng': -49.27021}, {'lat':...","[{'lat': -16.74154, 'lng': -49.19146}, {'lat':..."
4,003A,T. MARANATA / AVENIDA ITALIA / T. PAULO GARCIA,"[{'lat': -16.70507811344911, 'lng': -49.300701...","[{'lat': -16.8113258583215, 'lng': -49.3626842..."
...,...,...,...,...
316,990G,EXTRA SUL - T. MARANATA,"[{'lat': -16.763394092, 'lng': -49.270424394},...","[{'lat': -16.811247, 'lng': -49.362959}, {'lat..."
317,990H,EXTRA SUL - PRACA CIVICA,None,None
318,990I,EXTRA SUL - MARISTA,"[{'lat': -16.76350454639546, 'lng': -49.270226...",None
319,990J,T. BIBLIA / PRACA CIVICA / OSCAR NIEMEYER,"[{'lat': -16.76350421438977, 'lng': -49.270228...","[{'lat': -16.67153526622306, 'lng': -49.236699..."
320,991J,T. ISIDORIA / FLAMBOYANT / OSCAR NIEMEYER,"[{'lat': -16.76350720691258, 'lng': -49.270226...","[{'lat': -16.71415845391968, 'lng': -49.253196..."

In [9]:
for chave, valor in df['dados'].items():
    # Extração dos dados da linha
    num_linha = valor['linha']['numLinha']
    descricao = valor['linha']['descricao']
    trajeto_ida = valor['trajeto']['ida']
    trajeto_volta = valor['trajeto']['volta']
    
    # Adicionando ao conjunto de dados
    dados_linhas.append({
        'numLinha': num_linha,
        'descricao': descricao,
        'trajeto_ida': trajeto_ida,
        'trajeto_volta': trajeto_volta
    })

In [22]:
import psycopg2

In [89]:
conn = psycopg2.connect(
    dbname="poc-db",
    user="adminpoc",
    password="adminpoc",
    host="localhost",
    port="5440"
)

In [90]:
cursor = conn.cursor()

In [142]:
import psycopg2
import json

# Conexão com o banco de dados
conn = psycopg2.connect(
    dbname="poc-db",
    user="adminpoc",
    password="adminpoc",
    host="localhost",
    port="5440"
)
cursor = conn.cursor()

try:
    for k, v in df['dados'].items():
        linha = v['linha']['numLinha']
        descricao = v['linha']['descricao']
        
        # Insere linha
        insert_linha_sql = """
        INSERT INTO hp.linhas (num_linha, descricao)
        VALUES (%s, %s)
        ON CONFLICT (num_linha) DO NOTHING
        RETURNING id;
        """
        cursor.execute(insert_linha_sql, (linha, descricao))
        linha_id = cursor.fetchone()
        
        if linha_id:
            linha_id = linha_id[0]
        else:
            # Se a linha já existir, obtenha o id existente
            cursor.execute("SELECT id FROM hp.linhas WHERE num_linha = %s;", (linha,))
            linha_id = cursor.fetchone()[0]
        
        # Para cada trajeto associado à linha (ida e volta)
        trajetos = {'ida': v['trajeto']['ida']['PONTOS_TRAJETO'], 'volta': v['trajeto']['volta']['PONTOS_TRAJETO']}
        for direcao, pontos_trajeto in trajetos.items():
            pontos_geolocalizacao_json = json.dumps(pontos_trajeto)
            
            # Insere trajeto
            insert_trajeto_sql = """
            INSERT INTO hp.trajetos (linha_id, direcao, pontos_geolocalizacao)
            VALUES (%s, %s, %s)
            ON CONFLICT (linha_id, direcao) DO UPDATE SET pontos_geolocalizacao = EXCLUDED.pontos_geolocalizacao;
            """
            cursor.execute(insert_trajeto_sql, (linha_id, direcao, pontos_geolocalizacao_json))        
        conn.commit()
except Exception as e:
    print(f"Ocorreu um erro: {e}")
    conn.rollback()
finally:
    cursor.close()
    conn.close()

In [110]:
conn.commit()
cursor.close()
conn.close()

InterfaceError: connection already closed

In [138]:
for k, v in df['dados'].items():
    linha = v['linha']['numLinha']
    descricao = v['linha']['descricao']
    
    # Inserção na tabela linhas e obtenção do linha_id
    insert_linha_sql = """ 
    INSERT INTO hp.linhas (linha, descricao, hash, created_at, updated_at)
    VALUES (%s, %s, %s, NOW(), NOW())
    RETURNING id;
    """
    hash_linha = generate_hash(linha, descricao)
    cursor.execute(insert_linha_sql, (linha, descricao, hash_linha))
    linha_id = cursor.fetchone()[0]
    
    # Agora vamos inserir os trajetos
    trajetos_info = v.get('trajeto', {})
    
    for direcao in ['ida', 'volta']:
        if direcao in trajetos_info:
            for ponto in trajetos_info[direcao]:
                id_localidade_km = ponto.get('ID_LOCALIDADE_KM')
                codigo = ponto.get('CODIGO')
                nome = ponto.get('NOME')
                sentido = ponto.get('SENTIDO')
                saida = ponto.get('SAIDA')
                chegada = ponto.get('CHEGADA')
                id_localidade_saida = ponto.get('ID_LOCALIDADE_SAIDA')
                id_localidade_chegada = ponto.get('ID_LOCALIDADE_CHEGADA')
                
                # Gera o hash para o trajeto
                hash_trajeto = generate_hash(linha_id, id_localidade_km, codigo, nome, direcao)
                
                insert_trajeto_sql = """
                INSERT INTO hp.trajetos (
                    linha_id, 
                    id_localidade_km, 
                    codigo, 
                    nome, 
                    sentido, 
                    saida, 
                    chegada, 
                    id_localidade_saida, 
                    id_localidade_chegada, 
                    hash, 
                    direcao
                )
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
                """
                cursor.execute(insert_trajeto_sql, (
                    linha_id, 
                    id_localidade_km, 
                    codigo, 
                    nome, 
                    sentido, 
                    saida, 
                    chegada, 
                    id_localidade_saida, 
                    id_localidade_chegada, 
                    hash_trajeto, 
                    direcao
                ))

In [ ]:
conn.commit()
cursor.close()
conn.close()