In [47]:
import requests
import pandas as pd
import json

In [48]:
url_request = "http://siannet.gestaosian.com/api/WSLogin"

In [49]:
payload = {}
headers = {
  'Authorization': 'Basic Z2RzOkdEU0BTSUFOTkVU'
}

In [50]:
response = requests.request("POST", url_request, headers=headers, data=payload)

In [51]:
response_json = response.json()

In [52]:
token = response_json['token']

In [53]:
url_get = "http://siannet.gestaosian.com/api/ConsultaViagens?data=02/04/2024&viagens=programadas"

In [54]:
payload = {}
headers = {
  'Authorization': f'Bearer {token}'
}

In [55]:
response = requests.request("GET", url, headers=headers, data=payload)

In [56]:
dados_json = response.json()

In [57]:
informacoes = []
for key in dados_json['dados']['realizadas']:
    for item in dados_json['dados']['realizadas'][key]:
        informacoes.append(item)

In [58]:
df = pd.DataFrame(informacoes)

In [59]:
df

,DATA,LINHA,CARRO,RE,NOME,DTHR_SAIDA,DTHR_RETORNO,DTHR_CHEGADA
0,02/04/2024,117A,1201,000018718,LUCAS JOSE PINHEIRO,02/04/2024 05:30,02/04/2024 06:15,02/04/2024 07:00
1,02/04/2024,117A,1201,000016384,YURI ALMEIDA CASTELO BRANCO,02/04/2024 07:10,02/04/2024 07:59,02/04/2024 08:45
2,02/04/2024,609A,20017,000018042,EDMAR CAETANO ROCHA,02/04/2024 04:56,02/04/2024 05:49,02/04/2024 06:43
3,02/04/2024,609A,20017,000018042,EDMAR CAETANO ROCHA,02/04/2024 06:45,02/04/2024 08:26,NaN
4,02/04/2024,576B,20018,000018878,RONALDO DOS SANTOS COSTA,02/04/2024 04:23,02/04/2024 04:50,02/04/2024 05:18
...,...,...,...,...,...,...,...,...
2341,02/04/2024,025C,20805,000019116,ADRIANO PEREIRA BASTOS,02/04/2024 17:30,02/04/2024 17:43,02/04/2024 17:56
2342,02/04/2024,025C,20805,000019116,ADRIANO PEREIRA BASTOS,02/04/2024 18:18,02/04/2024 18:33,02/04/2024 18:49
2343,02/04/2024,025A,20805,000019116,ADRIANO PEREIRA BASTOS,02/04/2024 18:49,02/04/2024 19:22,02/04/2024 19:56
2344,02/04/2024,025A,20805,000019116,ADRIANO PEREIRA BASTOS,02/04/2024 21:52,02/04/2024 22:21,02/04/2024 22:50
2345,02/04/2024,025A,20805,000019116,ADRIANO PEREIRA BASTOS,02/04/2024 23:07,02/04/2024 23:34,02/04/2024 23:52

In [60]:
df.describe()

,DATA,LINHA,CARRO,RE,NOME,DTHR_SAIDA,DTHR_RETORNO,DTHR_CHEGADA
count,2346,2346,2346,2346,2346,2260,2346,2274
unique,1,214,293,556,556,902,929,905
top,02/04/2024,003A,20531,000014025,WALDIVINO GONCALVES MENDES,02/04/2024 06:31,02/04/2024 06:16,02/04/2024 08:29
freq,2346,45,21,11,11,12,9,12

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2346 entries, 0 to 2345
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DATA          2346 non-null   object
 1   LINHA         2346 non-null   object
 2   CARRO         2346 non-null   object
 3   RE            2346 non-null   object
 4   NOME          2346 non-null   object
 5   DTHR_SAIDA    2260 non-null   object
 6   DTHR_RETORNO  2346 non-null   object
 7   DTHR_CHEGADA  2274 non-null   object
dtypes: object(8)
memory usage: 146.8+ KB

In [62]:
dados_nulos = df.isnull().sum()

In [63]:
dados_nulos

DATA             0
LINHA            0
CARRO            0
RE               0
NOME             0
DTHR_SAIDA      86
DTHR_RETORNO     0
DTHR_CHEGADA    72
dtype: int64